venv/

abis/
cache/
hh-cache/
artifacts/

coverage*
typechain/
reports/
research/simulation/gas/report.txt

.vscode/*
!.vscode/launch.json
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost
.openzeppelin

build/
py_test/__pycache__/
**/*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
generated
/out
/docs
